<div class="calendar-container">
    <nav class="navbar-container">
        <ul class="navbar">
            <li class="day" [class.active]="view() === 'day'" (click)="setView('day')">D</li>
            <li class="week" [class.active]="view() === 'week'" (click)="setView('week')">W</li>
            <li class="month" [class.active]="view() === 'month'" (click)="setView('month')">M</li>
            <li class="quarter" [class.active]="view() === 'quarter'" (click)="setView('quarter')">Q</li>
            <li class="year" [class.active]="view() === 'year'" (click)="setView('year')">Y</li>
        </ul>
    </nav>

    <div class="calendar">    
        @if (view() == "day") {<app-calender-day [day]="today()" [actions]="actions()"></app-calender-day>}
        @else if (view() == "week") {<app-calendar-week [today]="today()" [goals]="weekGoals()" [actions]="actions()"></app-calendar-week>}
        @else if (view() == "month") {<app-calendar-month [monthGoals]="monthGoals()" [weekGoals]="weekGoals()" [actions]="actions()"></app-calendar-month>}
        @else if (view() == "quarter") {<app-calendar-quarter [quarterGoals]="quarterGoals()" [monthGoals]="monthGoals()" [weekGoals]="weekGoals()"></app-calendar-quarter>}
        @else if (view() == "year") {<app-calendar-year [milestones]="milestones()" [quarterGoals]="quarterGoals()" [monthGoals]="monthGoals()"></app-calendar-year>}
        @else {<p style="color: white;">not implemented yet</p>}
    </div>
</div>

