@if (popup[0] === "add") {
    <app-add-window (close)="closePopup()"></app-add-window>
}
@else if (popup[0] !== "") {
    <app-item-overview [itemType]="popup[0]" [item]="popup[1]" (close)="closePopup()"></app-item-overview>
}

<div class="day-view">
    <div class="tile-container">
        <div class="tile">
            
            <div class="header">
                <p class="title">{{weekday}}</p>
                <app-add-button class="add-button"></app-add-button>
            </div>
        
            <div class="content">
                <div class="action-container">
                    @for (action of actions; track $index) {
                        <div class="action">
                            <app-calendar-action [self]="action"></app-calendar-action>     
                        </div>
                    }    
                </div>        

                <div class="todo-container">
                    @for (todo of todos; track $index) {
                        <div class="todo">
                            <app-calendar-todo [title]="todo.title" [self]="todo"></app-calendar-todo>
                        </div>
                    }
                </div>
            </div>
            
        </div>   
    </div>
</div>

