<div class="week-view">
    <div class="topbar">
        @for (goal of goals(); track $index) {
            <div class="goal">
                <app-calendar-goal [title]="goal.title" [type]="goal.type"></app-calendar-goal>
            </div>
        }
        
    </div>

    <div class="tile-container">
        @for (day of week; track $index) {
            <div class="tile" [class.active]="todayIndex === $index">
            
                <div class="header">
                    <p>{{day}}</p>
                </div>
            
                <div class="content">
                    
                    <div class="action-container">
                        @for (action of actions(); track $index) {
                            <div class="action">
                                <app-calendar-action [title]="action.title"></app-calendar-action>     
                            </div>
                        }    
                    </div>        

                    <div class="todo-container">
                        @for (todo of todos(); track $index) {
                            <div class="todo">
                                <app-calendar-todo [title]="todo.title"></app-calendar-todo>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    
    
</div>