<div class="week-view">
    <div class="topbar">
        @for (goal of goals(); track $index) {
            <div class="goal">
                <app-calendar-goal [self]="goal"></app-calendar-goal>
            </div>
        }
        <app-add-button class="add-button"></app-add-button>
        
    </div>

    <div class="tile-container">
        
        @for (day of week; track day; let weekDayIndex = $index) {
            <div class="tile" [class.active]="todayIndex === weekDayIndex">
            
                <div class="header">
                    <p class="title">{{day}}</p>
                    <p class="add-button" (click)="openPopup('add')">+</p>
                    
                    
                </div>
            
                <div class="content">
                    
                    <div class="action-container">
                        @for (action of actions(); track $index) {
                            <div class="action">
                                <app-calendar-action [self]="action"></app-calendar-action>     
                            </div>
                        }    
                    </div>        

                    <div class="todo-container">
                        @for (todo of todos[weekDayIndex]; track $index) {
                            <div class="todo">
                                <app-calendar-todo [self]="todo"></app-calendar-todo>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    
    
</div>