.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #123;
}

.navbar {
    display: flex;
    height: 5vh;
    gap: 2rem;
    padding-left: 1rem;
}

.navbar a  {
    text-decoration: none;
    color: white;
}

.content {
    flex-grow: 1; 
}