<div class="app-container">
    <nav class="navbar-container">
        <ul class="navbar">
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            <a routerLink="/calendar" routerLinkActive="active" ariaCurrentWhenActive="page">Calendar</a>
            <a routerLink="/lib" routerLinkActive="active" ariaCurrentWhenActive="page">Knowledge</a>
        </ul>
    </nav>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  