<div class="year-view">

    <div class="top-bar">
        @for (milestone of milestones(); track $index) {
            <div class="milestone">
                <app-calendar-milestone [self]="milestone"></app-calendar-milestone>
            </div>    
        }
        <app-add-button class="add-button"></app-add-button>
    </div>
    <div class="calendar">
        
        @for (quarter of calendarService.year(); track $index) {
            <div class="quarter">
                <div class="months">
                    @for (month of quarter; track $index) {
                        <div class="month">
                            <div class="header">
                                <p>{{month.month_str}}</p>
                            </div>
                                <div class="content">
                                    <div class="month-goal-container">
                                        @for (goal of month.month_goals; track $index) {   
                                            <app-calendar-goal class="month-goal" [self]="goal"></app-calendar-goal>     
                                        }    
                                    </div>        
                                </div>
                        </div>

                    }
                </div>

                <div class="side-bar">
                    @for (month of quarter; track $index) {
                        @for (goal of month.month_quarter_goals; track $index) {
                            <!-- <div class="goal-box"></div> -->
                            <app-calendar-goal class="quarter-goal" [self]="goal"></app-calendar-goal>
                        }
                    }
                </div>
            </div>
        }
        
        
    </div>



</div>
