<div class="calendar-container">
    <nav class="navbar-container">
        <ul class="navbar">
            <li (click)="setView('recent')">Recently</li>
            <li (click)="setView('workspaces')">Workspaces</li>
        </ul>
    </nav>

    <div class="library">
        @if (view === "recent") {
            
            <p style="color: aliceblue;">{{knowledge[0]["collections"][0]["pages"][0]["title"]}}</p>
            
        }
        @else if (view === "workspaces") {
            @for (workspace of knowledge; track $index) {
                <section class="workspace">
                    <p class="workspace-header">{{workspace["title"]}}</p>
                    @for (collection of workspace["collections"]; track $index) {
                        <div class="collection">
                            <p class="collection-header">{{collection["title"]}}</p>
                        </div> 
                    }
                </section>
            }
        }
        @else {
            <p>Unknown view</p>
        }
    </div>
</div>