<div class="knowledge-container">
    <nav class="navbar-container">
        <ul class="navbar">
            <li (click)="setView('recent')">Recent</li>
            <li (click)="setView('workspaces')">All</li>
        </ul>
    </nav>

    <div class="library">
        @if (view === "recent") {
            <div class="recent">
                @for (page of recentPages; track $index) {
                    <p class="recent-page">{{page.title}} - {{page.lastEdit}}</p>
                }
            </div>
        }
        @else if (view === "workspaces") {
            <div class="overview">
                @for (workspace of knowledge; track $index) {
                    <section class="workspace">
                        <p class="workspace-header">{{workspace["title"]}}</p>
                        @for (collection of workspace["collections"]; track $index) {
                            <div class="collection">
                                <p class="collection-header">{{collection["title"]}}</p>
                            </div> 
                        }
                    </section>
                }
            </div>    
        }
        @else {
            <p>Unknown view</p>
        }
    </div>
</div>