.month-view {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}
/* TOPBAR */
.top-bar {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.month-goal {
    width: 5%;
    height: 60%;
    margin: 0 auto;
}

.top-bar .add-button {
    height: 50%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: aliceblue;
    border-radius: 1rem;
}

/* MONTH */
.month {   
    width: 100%;
    height: 92%; /* 100% - 8% topbar */
    display: flex;
    flex-direction: column;
}

/* WEEKDAY-BAR */
.weekdays {
    height: 5%;
    width: 100%;
    border-bottom: 0.3rem solid aliceblue;
}

.weekday-container {
    width: 90%;
    height: 100%;
    display: flex;
}

.weekday {
    width: calc((100%) / 7);;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3rem solid aliceblue;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* WEEKS */
.week {
    width: 100%;
    height: calc(95% / 5 );
    display: flex;
    border-bottom: 0.3rem solid aliceblue;
    border-left: 0.3rem solid aliceblue;
    border-right: 0.3rem solid aliceblue;
}

.days {
    width: 90%;
    height: 100%;
    display: flex;
}

.tile {
    width: calc(100% / 7);
    height: 100%;
    border-right: 0.3rem solid aliceblue;
}

.tile:hover {
    background-color: aqua;
}

.tile.active {
    background-color: orangered;
}

.header {
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p{
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: aliceblue;
    border-radius: 1rem;
    margin: auto;
}

.todo-container {
    padding: 0.5rem;
    height: 80%;
    overflow-y: auto;
}

.todo-container .todo {
    width: 100%;
    height: 45%;
    margin-bottom: 0.5rem;
}
/* SIDEBAR */
.side-bar {
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
}

.week-goal {
    width: 80%;
    height: 45%;
}