<div class="month-view">
    <div class="top-bar">
        @for (monthGoal of monthGoals(); track $index) {
            <div class="month-goal">
                <app-calendar-goal [self]="monthGoal"></app-calendar-goal>
            </div>
        }
        <app-add-button class="add-button"></app-add-button>
    </div>

    <div class="month">
        <div class="weekdays">
            <div class="weekday-container">
                @for (day of ["Mon","Thu","Wed","Thu","Fri","Sat","Sun"]; track $index) {
                    <p class="weekday">{{day}}</p>
                }
            </div>
        </div>

        @for (week of calendarService.month(); track weekIndex; let weekIndex = $index) {
            <div class="week">
                <div class="days">
                    @for (day of week.week_days; track dayIndex; let dayIndex = $index  ) {
                        <div class="tile" [class.active]="todayIndex.week === weekIndex && todayIndex.day === dayIndex">       
                            <div class="header">
                                <p>{{day}}</p>
                            </div>
                            
                            <div class="todo-container">
                                @for (todo of week.todos; track $index) {
                                    @if (todo.deadline?.substring(8,10) == day) {
                                        <div class="todo">
                                            <app-calendar-todo [self]="todo"></app-calendar-todo>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="side-bar">
                    @for (weekGoal of week.week_goals; track $index) {
                        <div class="week-goal">
                            <app-calendar-goal [self]="weekGoal"></app-calendar-goal>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>




