<div class="homepage">
    <div class="brain">
        <div class="network">
            <h1>My Brain</h1>
        </div>
    </div>
    
    <div class="content">
        <section class="day-overview">
            <app-calender-day [day]="day" [actions]="actions()" [todos]="todos()"></app-calender-day>
        </section>
        <section class="recent-pages">
            @for (page of recentPages(); track $index) {
                <p class="recent-page">{{page.title}} - {{page.lastEdit}}</p>
            }
        </section>
    </div>

</div>
