<div class="homepage">
    <div class="brain">
        <div class="network">
            <h1>My Brain</h1>
        </div>
    </div>
    
    <div class="content">
        <section class="day-overview">
            <label>Day Overview</label> 
            <app-calender-day [day]="day" [actions]="actions()" [todos]="todos()"></app-calender-day>
        </section>
        <section class="recent-pages">
            <!-- TODO -->
            <p>Recent pages</p>
        </section>
    </div>

</div>
