<div class="homepage">
    <div class="brain">
        <div class="network">
            <h1>My Brain</h1>
        </div>
    </div>
    
    <div class="content">
        <section class="day-overview">
            <app-calender-day [day]="day" [actions]="actions()"></app-calender-day>
        </section>
        <section class="recent-pages">
            <!-- TODO -->
            <markdown [data]="knowledge[0]['collections'][0]['pages'][0]['content']"></markdown>
        </section>
    </div>

</div>
