

<div class="page">
    <nav class="navbar-container">
        <ul class="navbar">
            <li class="back" (click)="closePopup()"><</li>
            <li class="mode" (click)="toggleEditMode()">
                @if (mode === "view"){ edit }
                @else { view }
            </li>
            <li class="info" (click)="togglePageInfo()">info</li>
        </ul>
    </nav>
    <div class="content {{mode}}">
        @if (mode == "view") {
            <div class="view-mode">
                <markdown class="markdown" [data]="markdownContent"></markdown>
            </div>
        }
        @else if (mode == "edit") {
            <div class="edit-mode">
                <textarea class="text" [(ngModel)]="markdownContent"></textarea>
                <markdown class="markdown" [data]="markdownContent"></markdown>
            </div>
        }

        @if (displayPageInfo) {
            <ul class="page-info">
                <li>
                    {{this.page().title}}
                </li>
                <li>
                    {{this.page().first_edit}}
                </li>
                <li>
                    {{this.page().last_edit}}
                </li>
            </ul>
        }
        
    </div>
</div>
